.wrapper {
  @include info-block-V(var(--size-m));

  padding: var(--size-xl);
  border-radius: var(--mantine-radius-md);

  .title {
    color: var(--text-white);
  }
}

.withBackground {
  background-color: var(--container-background-color);
}
