.imageCard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    padding: 0;
    @media(min-width: 600px) {
        padding: .5rem;
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
}