.movieInfo {
  @include info-block-V(var(--size-xs));

  & > div {
    display: grid;
    grid-template-columns: 1.7fr 3fr;
    column-gap: var(--size-xl);

    @media (min-width: 900px) {
      grid-template-columns: 1fr 3fr;
    }
  }
}

.links {
  @include info-block-H(var(--size-xs));

  flex-wrap: wrap;
}
