.container {
  @include info-block-V(var(--size-m));

  width: fit-content;

  img {
    height: 200px;
    border-radius: var(--mantine-radius-sm);
    object-fit: contain;
    transition: transform 0.2s linear;

    &:hover {
      transform: scale(1.1);
    }
  }

  embed {
    aspect-ratio: 16 / 9;
    border-radius: var(--mantine-radius-sm);
  }
}
