@import '../../../style/variables';

.header {
    position: fixed;
    width: 100%;
    padding: .5rem;
    background: $bg-color;
    opacity: .9;
    z-index: 100;
    & svg {
        fill: white
    }
    &__nav {
        display: flex;
        align-items: center;
        transition: height .5s ease;
    }
}