@import '../../style/_variables.scss';

.award_wrapper {
  display: flex;
  flex-direction: column;
  gap: $padding-between-items-mobile;
  @media (min-width: 600px) {
    gap: $padding-between-items-desktop;
  }
  &__header {
    display: flex;
    flex-wrap: nowrap;
    gap: inherit;
  }
  &__award_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: inherit;
    padding-left: 1rem;
  }
}