.wrapper {
  display: flex;
  align-items: center;
  padding: var(--size-xs) var(--size-m);
  position: sticky;
  top: var(--size-m);
  width: 90%;
  height: calc(var(--size-xxl) * 2);
  background-color: var(--background-header);
  border-radius: var(--size-xs);
  margin: auto;
  transition: top 0.3s linear;
}

.isScrolling {
  top: calc(var(--size-xxl) * (-2));
}
