.wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--size-m);
  align-items: center;
  height: var(--header-height);
  padding: 0 var(--size-xl);
  transition: height 0.3s var(--simple-animation) !important;
}

.link {
  display: flex;
  align-items: center;
}

.isScrolling {
  height: var(--header-scrolling-height);
}
