@import '../../style/variables';

.award_item {
  display: flex;
  align-items: center;
  gap: $padding-between-items-mobile;
  @media(min-width: 600px) {
    gap: $padding-between-items-desktop;
  }
}