@font-face {
    font-family: 'SF UI Text';
    src: url('../../public/assets/fonts/SFUIDisplay-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../../public/assets/fonts/SFUIDisplay-Medium.woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../../public/assets/fonts/SFUIDisplay-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Text';
    src: url('../../public/assets/fonts/SFUIDisplay-Light.woff');
    font-weight: 300;
    font-style: normal;
}