$bg-color: #161c24;
$bg-color-secondary: #919eab1f;
$bg-color-orange: #fa541c16;
$bg-color-input-field: #919eab14;
$bg-color-input-field_hover: #919eab29;
$bg-color-input-field_focused: #919eab3d;
$main-color: #fa541c;
$secondary-text-color: #919eab;

$padding-between-items-mobile: .5rem;
$padding-between-items-desktop: 1rem;
