@import '../../../style/variables';

.film_award_wrapper {

    &__award_item {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $padding-between-items-mobile * 2;
        padding: $padding-between-items-mobile * 2;

        & svg {
            fill: $color-cup;
            width: 6rem;
            height: 6rem;
        }

        & img {
            width: 6rem;
            max-height: 6rem;
        }
    }
}