.container {
  @include info-block-V();

  justify-content: flex-end;
  aspect-ratio: 3 /4;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: 900px) {
    aspect-ratio: 21 /9;
    background-size: cover;
    flex-direction: row;
    border-radius: var(--mantine-radius-md);
  }

  .poster {
    flex-grow: 0.6;
    padding: var(--size-m);
  }

  .info {
    @include info-block-V(var(--size-s));

    flex: 0.4;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: var(--size-xxl);
    background-color: var(--background-carousel-title);
    text-align: left;
  }

  .title,
  .genres {
    color: var(--text-white);
  }
}

.withPoster {
  background-color: var(--container-background-color);

  .info {
    background-color: initial;
  }
}
