@mixin info-block-H($gap: 0) {
  display: flex;
  gap: $gap;
}

@mixin info-block-V($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin grid-columns($template: repeat(2, 1fr), $gap: var(--size-l)) {
  display: grid;
  grid-template-columns: $template;
  gap: $gap;
}
