@import '../../../style/variables';

.rating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        & svg {
            max-width: 1.3rem;
            max-height: 1.3rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        & svg {
            color: $main-color;
        }
        @media(min-width: 600px) {
            flex-direction: row;
            gap: 1rem;
        }

        &__voites {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .3rem;
        }
    }
}
